* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100%;
    background: #000;
}
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding: 20px 30px;
    color: #fff;
    border: 3px solid hotpink;
}
.border-change {
    border-color: rgba(101, 101, 101, 0.358);
}
  